$font: "Proxima-Nova", sans-serif;

$color_main: #1E2E36;
$color_second: #44C697;
$color_third: #FFFFFF;

$color_text-first: #1E2E36;
$color_text-second: #FFFFFF;
$color_text-third: #44C697;
$color_text-fourth: #BCBDBB;
$color_text-fifth: #FF1B1B;

$color_bg-primary: #FFFFFF;
$color_bg-secondary: #1E2E36;
$color_bg-third: #FF1B1B;

$color_accent: #44C697;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);